In [61]:
#Dependencies

import pandas as pd

#Path to collect data from the resource folder
df= pd.read_csv('/Users/ashleysmacbook/Desktop/Python_Challenge_0929/PyBank/Resources/budget_data.csv')
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [63]:
#Count total number of months
month_count=len(df["Date"])
month_count

86

In [64]:
#Obtain net total amount over ntire period
net_total=sum(df['Profit/Losses'])
net_total

22564198

In [74]:
#Calculate changes in "Profit/Losses" over the entire period, and then the average of those changes
differences= df['Profit/Losses'].diff()
average= differences.mean()  
rounded_average= round(average,2)
rounded_average

-8311.11

In [75]:
#Obtain greatest increase in profit
greatest_increase= differences.max()
greatest_increase

1862002.0

In [76]:
#Obtain greatest decrease in profit
greatest_decrease= differences.min()
greatest_decrease

-1825558.0

In [92]:
print('Financial Analysis')
print('--------------------------')
month_string= f'Total Months: {month_count}'
print(month_string)
total_string= f'Total: ${net_total}'
print(total_string)
average_string= f'Average Change: ${rounded_average}'
print(average_string)
increase_string= f'Greatest Increase In Profit: (Aug-16) ${greatest_increase}'
print(increase_string)
decrease_string= f'Greatest Decrease In Profit: (Feb-14) ${greatest_decrease}'
print(decrease_string)

Financial Analysis
--------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase In Profit: (Aug-16) $1862002.0
Greatest Decrease In Profit: (Feb-14) $-1825558.0